<br>
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<% unless @post.user.nil? %> <p><%= @post.user.email %></p> <% end %>
<hr>
<% if current_user && current_user == @post.user %>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Delete", post_path(@post), method: :delete,
 data: {confirm: "Do you realy wan't to delete me?"}, :class => 'btn btn-danger' %>
  <% end %>
<% @post.comments.each do |comment| %>
  <div class="alert alert-light">
  <p><strong><%= comment.username %></strong>: <%= comment.body %><hr></p>
    <% if current_user && current_user.email == comment.username %>
    <%= link_to "Remove Comment", post_comment_path(comment), method: :delete, data: {confirm: "Remove?"}, :class => 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>
<hr>
<h3>Add comment</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <% if user_signed_in? %>
    <p> <%= current_user.email.to_s %></p>
  <% else %>
    <p>
    Username <br>
    <%= f.text_field(:username, {:class => 'form-control'}) %></p>
  <% end %>
  <p>
    Comment: <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Add comment", {:class => 'btn btn-success'})%>
  </p>
<% end %>