<!DOCTYPE html>
<html>
  <head>
    <title>Second</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!--
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
    -->

    <%= javascript_include_tag 'status_check' %>
    <%= javascript_include_tag 'run_worker' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
     <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

          <div class="my-0 mr-md-auto front-weight-bold">
            <span class="nav-link px-5"><%= link_to "NomadNotes", home_path, class: "a-sp"%></span>
          </div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           <li><span class="nav-link px-2"><%= link_to "Home", home_path, class: "a-secondary"%></span></li>
           <li><span class="nav-link px-2"><%= link_to "Add new", new_post_path, class: "a-primary"%></span></li>
           <li><span class="nav-link px-2"><%= link_to "About", about_path, class: "a-primary"%></span></li>
          </ul>

          <!-- jeszcze nie realizowano
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
           <input type="search" class="form-control form-control-dark" placeholder="Search...">
          </form>
          -->
          <% if user_signed_in? %>
              <div class="g"> Logged in as : <strong> <%= current_user.email %> </strong> </div>
              <div class="g"> <%= button_to 'Edit profile', edit_user_registration_path(@user), method: :get , class: 'btn btn-warning' %></div>
              <div class="g"><%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-dark'  %></div>
            <% if current_user.admin %>
               <% current_uri = request.env['PATH_INFO'] %>
              <% if ["/", "/admin/posts"].include? current_uri %>
                <div class="g">Admin Tools </div>
                <div class="g"> <%= button_to "On", tools_path, method: :get, class: 'btn btn-success' %></div>
                <div class="g"> <%= button_to "Off", home_path, method: :get, class: 'btn btn-danger'  %></div>
              <% else %>
                <% if @post.respond_to?(:to_model) && !("/posts/new".include? current_uri) %>
                  <div class="g">Admin Tools </div>
                  <div class="g"> <%= button_to "On", [:admin, @post], method: :get, class: 'btn btn-success'  %></div>
                  <div class="g"> <%= button_to "Off", @post, method: :get, class: 'btn btn-danger'  %></div>

                  <!-- <% post_pdf = request.env['PATH_INFO']+'.pdf' %> -->
                  <% current_uri = worker_path(id: @post.id) %>
                  <div class="g"> <%=button_to "Page to PDF ", worker_path(id: @post.id), class: 'btn btn-outline-primary js-run-worker', data: {url: current_uri }%></div>

        <% end %>
              <% end %>
            <% end %>

          <% else %>
              <div class="g"> <%= button_to "Sign up", new_user_registration_path, method: :get , class: 'btn btn-primary'  %></div>
              <div > <%= button_to "Login", new_user_session_path, class: 'btn btn-outline-light me-2'  %></div>
          <% end %>
        </div>
      </div>
    </header>

    <div class="b-example-divider"></div>

    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
